.rank_board{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
.rank_container{
    background-color:wheat;
    width: 400px;
    height: auto;
    border-radius: 5%;
    padding: 20px;
}
.rank_btn_container{
    display: flex;
    width: 100%;
    height: 50px;
}
.rank_check{
    float: left;
    margin-left: 17%;
    width: 100px;
    height: 50px;
    font-size: 20px;
}
.rank_table_parent {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
.rank_table_child{
    text-align: center;
}
.rank_td{
    border-bottom: 1px solid #444444;
    padding: 10px;
}

.quiz2_board{
    display: flex;
    flex-direction: column;
    background-color:wheat;
    height: 60vmax;
    justify-content: center;
    align-items: center;
    margin: 5%;
    
}
.quiz2_question{
    background-color: plum;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 25px;
    margin-top: -35%;
}
.quiz2_answer{
    width: 100%;
    height: 120px;
    margin-top: 5%;
    font-size: 25px;
    display: flex;
}
.quiz2_img{
    width: 100%;
    height: 200px;
    margin-top: 5%;
    margin-left: 3%;
    font-size: 25px;
    flex-direction: row;
}
.quiz2_img_scale{
    width: 120px;
    height: 100px;
    overflow: hidden;
}
.layout_mouse:hover{
    cursor: pointer;
}
.score_score{
    position: fixed;
    top: 100px;
    left: 50px;

}
.score_rank_btn{
    position: fixed;
    top: 250px;
    left: 150px;
}
.quiz2_btn{
    position: fixed;
    top: 52%;
    left: 45%;
}