{% extends 'layout.html' %}
{% block contents %}
<div id="join-form">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12"> 
          <input id="name" type="text" class="validate" required>
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="userID" type="text" class="validate" required>
          <label for="userID">User ID</label>
          <p id="userIdInfo"></p>
          <p id="userIdInfo2"></p>
          <button class="btn waves-effect waves-light" type="button" onclick="idOverlap()">ID중복확인</button>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="userPW" type="password" class="validate" required>
          <label for="userPW">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" required>
          <label for="email">Email</label>
          <p id="userEmailInfo"></p>
        </div>
      </div>
    <button class="btn waves-effect waves-light" type="button" onclick="join()">제출</button>
    
  </form>
  </div>
</div>




{% endblock %}