<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/myjs.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">

    <script>
        function go_quiz2(){
            var num_check = 0;
            location.href = `/quiz2?q_num=1&&check=0&&count=${num_check}`;
            sessionStorage.setItem('saved_num',0);
            sessionStorage.setItem('saved_score',0);
        }
        function go_quiz1(){
            var num_check = 0;
            location.href = `/quiz1?q_num=1&&check=0&&count=${num_check}`;
        }

    </script>

</head>
    <nav id = "layout-nav">
        <div class="nav-wrapper">
            <div id="layout-nav-left">
                <ul class="left hide-on-med-and-down">
                    <li><a onclick="go_quiz1()">퀴즈1</a></li>
                    <li><a onclick='go_quiz2()'>퀴즈2</a></li>
                </ul>
            </div>
            <div>
                <img href="/" onclick="JavaScript:location.href='/'; sessionStorage.setItem('saved_score', 0);" class='brand-logo center layout_mouse' alt='logo' src='../static/pokemon.png' width='20%' height='90px'>
            </div>
            <div id="layout-nav-right">
                <ul class="right hide-on-med-and-down">
                    <li><a onclick="go_rank()">랭킹</a></li>
                    {% if session['logged_in'] %}
                        <li><a onclick="getModification()">회원정보수정</a></li>
                    {% endif %}    
                    {% if session['logged_in'] %}
                        <li><a class="waves-effect waves-light btn" href="/logout">로그아웃</a></li>
                    {% else %}
                        <li><a class="waves-effect waves-light btn" href="/login">로그인</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <script>
        function go_rank(){
            token = sessionStorage.getItem('my_access_token');
            location.href=`/rank?my_access_token=${token}`;
        }
    </script>
    {% block contents %}
    {% endblock %}
</body>

</html>