{% extends "layout.html" %}
{% block contents %}
<div id="login-form">
    <form action="/login_pro" method="POST">
        <div class="form-example">
        <label for="userId">Enter your ID: </label>
        <input type="text" name="userId" id="userId" required>
        </div>
        <div class="form-example">
        <label for="password">Enter your password: </label>
        <input type="password" name="password" id="password" required>
        </div>
        <div class="form-example" id="login-btn">
            <button class="btn waves-effect waves-light" type="submit">로그인</button>
            <button class="btn waves-effect waves-light"><a href="/join" class="login-submit-btn">회원가입</a></button>
        </div>
    </form>
</div>
{% endblock %}