{% extends 'layout.html' %}
{% block contents %}
    <div class="quiz2_board">
        <div class="quiz2_question">
            <p>{{question}}</p>
        </div>
        <div class="quiz2_answer">
            {% for x in range(4) %}
                <label class="quiz2_img">
                    <img class="quiz2_img_scale" src='{{url[x]}}' />
                    <input class="with-gap" onclick="check_count({{x+1}},'{{answer}}')" name="group3" type="radio" checked />
                    <span>{{question_list[x]}}</span>
                </label>
            {% endfor %}

        </div>
    </div>
<script>
    
    $(document).ready(function(){
        num = sessionStorage.getItem('saved_num');
        score = sessionStorage.getItem('saved_score');
        score = parseInt(score)
        num = parseInt(num)
        console.log(typeof(num),typeof(score))
    });
    function check_count(check,answer){
        console.log(check,answer)
        let answer_check = decode_utf8(answer)
        console.log(check,answer_check)
        if(check == answer){
            score = score + 20;
        }
        if(num == 2){
            sessionStorage.setItem('saved_score',score);
            window.open('/score','점수입니다','width=400px,height=400px,left=600px')
            location.href = `/`;
            sessionStorage.setItem('saved_num',0);
            sessionStorage.setItem('saved_score',0);
        }
        else{
            num = num + 1;
            location.href = `/quiz2`;
            sessionStorage.setItem('saved_num', num);
            sessionStorage.setItem('saved_score', score);
        }     
    }
    function decode_utf8(s) {
        return decodeURIComponent(escape(s));
    }
</script>
{% endblock %}
