{% extends 'layout.html' %}
{% block contents %}


<div> <!-- 가장 밖 div-->
    
    <div> <!-- progress bar-->
    </div>
    
    <div> <!-- 텍스트 박스-->
        내가 누구게?
    </div>
    
    <div> <!-- 사진-->
    <img src = "{{imgSrc}}" alt="뽀껫몬~">
    </div>

    <div> <!--선택지-->
        {% for question in question_list %}
        <div style="float: left; margin-left: 2%;">
            <button onclick="check_answer('{{question}}')">
            {{question}}
            </button>
        </div>
        {% endfor %}
    </div> <!--선택지 끝-->


</div><!--가장밖 끝-->
<script>
    answer = '{{answer}}'

    score = sessionStorage.getItem('saved_score')
    score = parseInt(score)

    if(isNaN(score)){
            score = 0;
        }
        
    times = sessionStorage.getItem('saved_times')
    times = parseInt(times)
    if(isNaN(times)){
            times = 0;
        }
        console.log(score)
        console.log(times)

    function check_answer(question){
        if (question == answer){
            alert('answer')
            score += 25
            sessionStorage.setItem('saved_score', score);
        }
        else{
            alert('false')
        }
        // 몇 번째 문제인지 확인
        if( times == 2){
            window.open('/score' , '점수입니다', 'width=400px,height=400px,left=600px')
            location.href = '/';
            sessionStorage.setItem('saved_tiems',0);
            sessionStorage.setItem('saved_score',0);

        }
        else{
            times += 1;
            window.location.reload()
            sessionStorage.setItem('saved_times',times)
        }   
    }
    
    // $(document).ready(function(){
    //     $.ajax({
    //             type: 'GET',
    //             url: 'quiz1',
    //             data: {},
    //             success: function (response) {
    //                 let  imgSrc = response['imgSrc']
    //                 let  questionList =response['questionList']
    //                 let  answer = response['answer']
    //             }
    //         });

</script>
{% endblock %}

